# FastAPI and related libraries
fastapi # fastapi
starlette # starlette
uvicorn
pydantic # pydantic

# Environment variables
python-dotenv # dotenv

# JWT and cryptography
python-jose[cryptography] # jose

# Testing
pytest # pytest
pytest-asyncio
protobuf

# HTTP client
httpx
attrs
python-dateutil
python-multipart

# Database
asyncmy
sqlmodel # sqlmodel
SQLAlchemy # sqlalchemy

# Google
google-auth # google.oauth2
google-cloud-storage # google.cloud


# Image processing
Pillow # Pillow
